# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
nthroot
prime_heap
anagrams
markov
csv
gu/main
gu/test_gu
gu/test_shrdlu
gu/test_sheet
gu/gu

# Rubbish
*~
DS_Store
[#]*[#]
.[#]*[#]
.[#]*
*.log
*.aux
*.pdf
*.tex


